## Programming Assignment 03

Student ID: 

Collaborators:

In [18]:
import numpy as np
import pandas as pd

#### Exercise 1

In [19]:
def residual_bootstrap_var(y_t: np.array, p: int, R: int):
    """A function that implements a residual bootstrap for a VAR(p) with intercept and returns the 
    bootstrap standard errors of the VAR coefficients in B

    Args:
        y_t (np.array): (T + p) Ã— K matrix of observations on y_t
        p (int): lag length
        R (int): number of bootstrap replications

    Returns:
        list: bootstrap standard errors of the VAR coefficients in B
    """
    return []

#### Exercise 2

In [20]:
# read in data
awm = pd.read_csv("awm19up18.csv")
awm.rename(columns={awm.columns[0]: "Q" }, inplace = True)

of_interest = ["Q", "YER", "ITR", "LTN", "STN"]
awm = awm[awm.columns.intersection(of_interest)]
awm.set_index('Q', inplace=True)

awm.head()

                  YER            ITR       STN       LTN
Q
1970Q1  738304.250471  191787.320701  7.986993  7.922865
1970Q2  752495.866789  203176.720610  7.956545  8.254439
1970Q3  761561.610862  206267.925392  7.602189  8.384747
1970Q4  770787.033957  205426.358549  7.242308  8.340932
1971Q1  769439.321026  204324.652554  6.516898  7.860624

In [21]:
# calculate logs and first differences and assign names accordingly
awm["YER_log"] = np.log(awm['YER'])
awm["ITR_log"] = np.log(awm['ITR'])

awm["d_lgdp"] = awm["YER_log"].diff()
awm["d_invest"] = awm["ITR_log"].diff()

awm["d_lgdp"] = awm["d_lgdp"] * 400
awm["d_invest"] = awm["d_invest"] * 400

awm["d_R"] = awm["LTN"].diff()
awm["d_r"] = awm["STN"].diff()

awm.dropna(inplace=True)

awm.head()

,YER,ITR,STN,LTN,YER_log,ITR_log,d_lgdp,d_invest,d_R,d_r
Q,,,,,,,,,,
1970Q2,752495.866789,203176.720610,7.956545,8.254439,13.531151,12.221831,7.615800,23.075637,0.331574,-0.030448
1970Q3,761561.610862,206267.925392,7.602189,8.384747,13.543126,12.236931,4.790229,6.039915,0.130308,-0.354356
1970Q4,770787.033957,205426.358549,7.242308,8.340932,13.555167,12.232843,4.816415,-1.635326,-0.043815,-0.359880
1971Q1,769439.321026,204324.652554,6.516898,7.860624,13.553417,12.227465,-0.700008,-2.150982,-0.480308,-0.725410
1971Q2,779295.962146,209724.713360,5.938638,7.930762,13.566146,12.253551,5.091522,10.434248,0.070138,-0.578261

In [22]:
# get the input for our function
y_t = np.array(awm[["d_lgdp", "d_invest", "d_R", "d_r"]])

In [23]:
# test our function
# residual_bootstrap_var(y_t, 2, 499)

In [24]:
# Compare to built-in function from VAR package

#### Exercise 3

In [25]:
def simulate_var2(A_1: np.array, A_2: np.array, sigma_u: np.array, T: int):
    """A function that simulates time series data from a K-dimensional VAR(2) process yt = A1 y_tâˆ’1 + A2 y_tâˆ’2 + u_t, 
    where the innovations ut are drawn from a multivariate normal distribution with mean zero and covariance matrix Î£_u. 
    Uses y_âˆ’1 = y_0 = 0 as starting values, where 0 is a K Ã—1 vector of zeros.
    Generates time series of length T+50 and discards the first 50 observations, such that it returns a time series of total length equal to T.

    Args:
        A_1 (np.array): coefficient matrix at lag 1
        A_2 (np.array): coefficient matrix at lag 2
        sigma_u (np.array): covariance matrix Î£_u
        T (int): number of observations

    Returns:
        np.array: T x K matrix of observations on y_t
    """
    return np.array

#### Exercise 4

In [26]:
def varp_forecast(matrix: np.array, p: int, h: int):
    """A function that computes the h-step ahead point forecasts y_T (h) and the corresponding MSE matrix Î£Ë†_y(h) based on a VAR(p) with intercept

    Args:
        matrix (np.array): K Ã— T matrix of observations
        p (int): lag order
        h (int): forecast horizon

    Returns:
        list: h-step ahead forecasts and the corresponding MSE matrix
    """
    return []

#### Exercise 5

In [27]:
T = 100

A_1 = np.array([[0.4, 0.25], [0, 0.5]])
A_2 = np.array([[0.2, 0.4], [0, 0]])
sigma_u = np.array([[1, 0.5], [0.5, 1]])

In [28]:
#matrix = simulate_var2(A_1, A_2, sigma_u, T)
#input_matrix = matrix.T # transpose in order to make it suitable for function

#h1_forec = varp_forecast(input_matrix, 2, 1)
#h4_forec = varp_forecast(input_matrix, 2, 4)

In [29]:
# Use these estimates to set up a 95% interval forecasts assuming that the process y_t is Gaussian